doctype html
html
  head
    title CoderDojo Rotterdam (SF) - Terugblik op 2016!
    link(rel='stylesheet', href='style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    section.cover.green.flex.justify-center.align-middle
      .content
        .block
          h1.h1 2016
          p Het jaar is inmiddels weer ten einde en daarmee kijken we graag met jullie terug op een succesvol Dojo jaar. Daarom hebben we een paar leuke cijfers op een rijtje gezet!
    
    section.flex.justify-center.align-middle
      .content.lg-flex.md-flex.items-center
        .block 
          p.number.huge 14

        .block 
          p In 2016 hebben we maarliefst <strong>14 keer</strong> onze deuren geopend! Waarvan <strong>3 weekenden</strong> zowel de zaterdag als de zondag! Omgerekend zijn dit <strong>56 uren</strong> actieve Dojo en achter de schermen wel <strong>200 uur</strong> voorbereiding.


    section.flex.justify-center.align-middle
      .content.lg-flex.md-flex.items-center
        .block
          canvas.chart#uniques no canvas love

        .block 
          p Tijdens deze <strong>14 dojo's</strong> hebben we <strong>210 ninja's</strong> aan het werk gezet. <strong>20% van de ninjas</strong> kwam een of meerdere keren terug, een aantal zelfs <strong>7 keer!</strong> Wat maakt dat we dit jaar dus <strong>170 unieke bezoekers</strong> hebben mogen ontvangen.


    section.flex
      .content
        .block
          canvas.chart#year no canvas love

        .block 
          p.center In 2016 zijn we maar liefst 8 keer volledig uitverkocht. Op de dubbele Dojo's waren de zaterdagen het populairs en zagen we de bezoekeraantallen dalen tijdens de zomermaanden.

    section.flex
      .content.lg-flex.md-flex.items-center
        .block
          p Onze bezoekers kwamen dit jaar naast Rotterdam ook uit andere steden zoals Haarlem, Breda en Arnhem. De populairste onderwerpen dit jaar waren Scratch, Minecraft en Javascript.

        .block 
          p In 2016 hebben we 7 verschillende workshops gedaan met 5 verschillende programmeertalen. Van PowerShell tot Muziek maken met Javascript of tekenen met Canvas en computers bouwen in Minecraft.
    
    section.flex
      .content.lg-flex.md-flex.items-center
        .block
          p.number.huge.euro &euro; 174

        .block 
          p Bezoekers hebben afgelopen jaar ook weer gul gedoneerd! Maarliefst 174,50 euro. Daarvan hebben we onderandere <strong>52 pakjes drinken</strong> gekocht, 6 zakken snacks, 1 minecraft account, <strong>3 verjaardags taarten</strong> en <strong>1 tros bananen</strong>.
  
    section.flex
      .content.lg-flex.md-flex.items-center
        .block
          p.wavey <span>👋</span>

        .block 
          p Met trots kijken we terug op een geslaagd jaar! Dit hebben wij natuurlijk te danken aan alle toffe ninjas, onze trouwe vrijwilligers en de Startup Foundation! Allen bedankt en we zien jullie graag in 2017 weer terug!
          p <strong>CoderDojo Rotterdam</strong>

    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    script(src='main.js')
      