doctype html
html
  head
    title CoderDojo Rotterdam (SF) - Terugblik op 2016!
    link(rel='stylesheet', href='style.css')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0')

    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='CoderDojo Rotterdam')
    meta(name='twitter:creator' content='@coderdojordam')
    meta(property='og:url' content='http://2016.coderdojo-rotterdam.nl')
    meta(property='og:title' content='CoderDojo Rotterdam blikt terug op 2016')
    meta(property='og:description' content='2016 was wederom een top jaar voor CoderDojo Rotterdam! Zo aan het einde van het jaar is het voor ons ook weer tijd om eens even terug te blikken!')
    meta(property='og:image' content='http://2016.coderdojo-rotterdam.nl/cover-image.jpeg')

  body
    section.cover.bg-green.flex.justify-center.align-middle
      .content
        .block
          h1.h1 2016
          p Met de dojo van november achter de rug zit voor CoderDojo Rotterdam het dojo jaar er op. Tijd om stiekem al een beetje naar 2017 te kijken, maar niet zonder eerst even stil te staan bij 2016!
    
    section.flex.justify-center.align-middle
      .content.lg-flex.md-flex.items-center
        .block 
          p#number_dojos.number.huge 0

        .block 
          p In 2016 hebben we maarliefst <strong>13 keer</strong> onze deuren geopend! Waarvan <strong>3 weekenden</strong> zowel de zaterdag als de zondag! Omgerekend zijn dit <strong>52 uren</strong> actieve Dojo en achter de schermen wel <strong>200 uur</strong> voorbereiding.


    section.flex.justify-center.align-middle
      .content.lg-flex.md-flex.items-center
        .block#cvs_uniques
          canvas.chart#uniques no canvas love

        .block 
          p Tijdens deze <strong>13 dojo's</strong> hebben we <strong>210 ninja's</strong> aan het werk gezet. <strong>20% van de ninjas</strong> kwam een of meerdere keren terug, een aantal zelfs <strong>7 keer!</strong> Wat maakt dat we dit jaar dus <strong>170 unieke bezoekers</strong> hebben mogen ontvangen.


    section.flex.justify-center.align-middle
      .content
        .block
          canvas.chart#year no canvas love

        .block 
          p.center In 2016 zijn we maar liefst <strong>vijf keer</strong> volledig uitverkocht. Tijdens de dubbele Dojo weekenden waren de <strong>zaterdagen</strong> het meest populair en hebben we relatief rustige zomermaanden gezien.

    section.flex.justify-center.align-middle
      .content.lg-flex.md-flex.items-center
        .block
          p Onze bezoekers kwamen dit jaar naast Rotterdam ook uit andere steden zoals <strong>Almere</strong>, <strong>Breda</strong> en <strong>Utrecht</strong>. De populairste onderwerpen dit jaar waren <strong>Scratch</strong>, <strong>Minecraft</strong> en <strong>Javascript</strong>.

        .block 
          p In 2016 hebben we <strong>zeven verschillende</strong> workshops gedaan met <strong>zes verschillende programmeertalen</strong>. Van <strong>PowerShell</strong> tot <strong>Muziek maken met Javascript</strong> of <strong>tekenen met Canvas</strong> en <strong>computers bouwen in Minecraft</strong>.
    
    section.flex.justify-center.align-middle
      .content.lg-flex.md-flex.items-center
        .block
          p#number_euros.number.huge.euro &euro; 0

        .block 
          p Bezoekers hebben afgelopen jaar ook weer gul gedoneerd! Maar liefst <strong>174,50 euro</strong>. Daarvan hebben we onder meer <strong>ongeveer honderd pakjes drinken</strong> gekocht, zes zakken snacks, &eacute;&eacute;n minecraft account, <strong>drie verjaardags taarten</strong> en <strong>&eacute;&eacute;n tros bananen</strong>.
  
    section.flex.justify-center.align-middle.relative
      .content
        .block
          p.wavey.center <span>👋</span>

        .block 
          p.center Met trots kijken we terug op een geslaagd jaar! Dit hebben wij natuurlijk te danken aan alle toffe ninjas, onze trouwe vrijwilligers en de Startup Foundation! Bedankt aan allen en we zien jullie graag in 2017 weer terug!
          p.center <strong>CoderDojo Rotterdam</strong>

      footer.lg-flex.md-flex.align-center.justify-center
        p &copy; 2016 - <a href="https://coderdojo-rotterdam.nl">Stichting CoderDojo Rotterdam</a>
        p 
          a(href='https://github.com/CoderDojoRotterdam/2016-review') fork me on GitHub

    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.7.1/countUp.min.js') 
    script(src='main.js')
      