@import 'node_modules/basscss/css/basscss'
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');


// setup some variables
$accent-color: #5b8737

// begin magic
html, body
  padding: 0px
  margin: 0px
  font-family: 'Roboto Slab', serif;
  height: 100%
  width: 100%

// setup header styles
h1, h2, h3, h4, h5, h6
  font-family: 'Open Sans', sans-serif;
  margin: 0px

// setup page background colors
.bg-green
  background-color: $accent-color

// mediaquery to not show the cover image on mobile
@media (min-width: 960px)
  section
    padding: 200px 0px
    &.cover
      background: url('cover-image.jpeg') no-repeat center center fixed
      background-size: cover
      padding: 0px
      h1, p
        background-color: rgba($accent-color, .98)
        padding: 40px
        border-bottom: 5px solid rgba(0, 0, 0, .3)

@media (max-width: 960px)
  section
    padding: 100px 0px

// structural stuff
section
  box-sizing: border-box
  width:  100%
  position: relative
  border-bottom: 1px solid lighten($accent-color, 40%)

  &.green
    border-bottom: 0px

  .content
    margin: auto

    .block
      padding: 0px 40px
  
  // special override for the cover slide
  &.cover
    height: 100vh
    .content
      h1
        display: inline-block
        font-size: 5rem
        color: white
        margin-bottom: 60px
        text-shadow: 5px 5px rgba(0,0,0, .3)
        border-bottom: 5px solid rgba(0, 0, 0, .3)
      p
        color: white
        text-shadow: 0px 1px rgba(0,0,0, 0.7)

  p
    font-size: 20px
    max-width: 650px
    color: rgba(0, 0, 0, 0.7)
    line-height: 2rem
    strong
      color: $accent-color

footer
  position: absolute
  bottom: 0px
  left: 0px
  padding: 15px 0px

  border-top: 1px solid lighten(#000000, 90%)
  width: 100%
  p
    font-size: 12px
    text-align: center
    padding: 0px
    margin: 0px
    padding-right: 10px
    color: lighten(#000000, 50%)
    a
      color: $accent-color
    


/// some legacy stuff?
.number.huge
  font-size: 6rem
  border: 5px solid $accent-color
  border-radius: 10px
  color: $accent-color
  text-align: center
  line-height: 1em
  padding: 50px
  margin: 0px

  &.euro
    min-width: 230px
    padding: 25px

canvas.chart
  max-width: 300px
  margin: auto

  &#uniques
    max-width: 200px

  &#year
    max-width: 800px

@media (max-width: 960px)
  canvas.chart
    &#year
      max-width: 300px

.wavey
  margin-bottom: 100px
  span
    font-size: 5em    
    display: inline-block
    transform-origin: right bottom
    animation: wavey 1s infinite

// wavey animation
@keyframes wavey
  0%, 100%
    transform: rotate(-20deg)
  50%
    transform: rotate(20deg)